<%- include("header"); -%>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About</h1>
      <p class="lead">This website allows you to write your daily personal blogs.
         You can head to the compose page to compose your daily memories and things. 
         You can easily manage the details from the home page easily with our interactible interface. 
         You can feel our creativity once you habitat to our creation. Thank You.
      </p>
    </div>
</div>
<%- include("footer"); -%>