<%- include("header"); -%>
<h2 style="margin-left: 35px">Compose</h2>
<form action="/" method="post" class="txt">
    <label for="head">Title</label><br>
    <textarea name="head" rows="1" cols="100" placeholder="Title here..."></textarea><br>
    <label for="blog">Post</label><br>
    <textarea name="blog" rows="10" cols="100" placeholder="Content here..."></textarea><br>
    <button type="submit" class="sbt">Publish</button>
</form>
<%- include("footer"); -%>